<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}">
<head>
    <title>New teacher</title>
</head>
<body>

<div class="col-md-8 order-md-1 content" layout:fragment="content">
    <div class="row">
        <form class="needs-validation" action="#" th:action="@{/teachers/create}" th:object="${teacher}" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input class="form-control" type="text" th:field="*{account.email}" id="email"
                               placeholder="Email">
                        <span th:if="${#fields.hasErrors('account.email')}" th:errors="*{account.email}"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="login">Login</label>
                    <input class="form-control" type="text" th:field="*{account.login}" id="login" placeholder="Login">
                    <span th:if="${#fields.hasErrors('account.login')}" th:errors="*{account.login}"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" th:field="*{account.password}" id="password"
                           placeholder="Password">
                    <span th:if="${#fields.hasErrors('account.password')}" th:errors="*{account.password}"></span>
                </div>
            </div>
            <div class="row">
                <legend>Personal Data</legend>
                <div class="col-md-6 mb-3">
                    <label for="first_name">First Name</label>
                    <input class="form-control" type="text" th:field="*{account.personalData.firstName}" id="first_name"
                           placeholder="First Name">
                    <span th:if="${#fields.hasErrors('account.personalData.firstName')}"
                          th:errors="*{account.personalData.firstName}"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="last_name">Last Name</label>
                    <input class="form-control" type="text" th:field="*{account.personalData.lastName}" id="last_name"
                           placeholder="Last Name">
                    <span th:if="${#fields.hasErrors('account.personalData.lastName')}"
                          th:errors="*{account.personalData.lastName}"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="age">Age</label>
                    <input class="form-control" type="text" th:field="*{account.personalData.age}" id="age"
                           placeholder="0">
                    <span th:if="${#fields.hasErrors('account.personalData.age')}"
                          th:errors="*{account.personalData.age}"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="sex">Sex</label>
                    <input class="form-control" type="text" th:field="*{account.personalData.sex}" id="sex"
                           placeholder="M">
                    <span th:if="${#fields.hasErrors('account.personalData.sex')}"
                          th:errors="*{account.personalData.sex}"></span>
                </div>
            </div>
            <div class="row">
                <legend>Address</legend>
                <div class="col-md-4 mb-3">

                    <label for="country">Country</label>
                    <input class="form-control" type="text" th:field="*{account.address.country}" id="country"
                           placeholder="Country">
                    <span th:if="${#fields.hasErrors('account.address.country')}"
                          th:errors="*{account.address.country}"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="state">State</label>
                    <input class="form-control" type="text" th:field="*{account.address.state}" id="state"
                           placeholder="State">
                    <span th:if="${#fields.hasErrors('account.address.state')}"
                          th:errors="*{account.address.state}"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="city">City</label>
                    <input class="form-control" type="text" th:field="*{account.address.city}" id="city"
                           placeholder="City">
                    <span th:if="${#fields.hasErrors('account.address.city')}"
                          th:errors="*{account.address.city}"></span>
                </div>
            </div>
            <div class="row border-top">
                <label for="description">Description</label>
                <textarea class="form-control" rows="3" th:field="*{description}" id="description"
                          placeholder="Write something about you..."></textarea>
            </div>
            <div class="row">
                <input class="btn btn-primary mb-4 mt-4" type="submit" value="Create teacher account">
            </div>
        </form>
    </div>
</div>
</body>
</html>