<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <title>Subjects</title>
</head>
<body>
    <header>
        <a href="/">
            <img th:src="@{/images/logo.png}" alt="logo" />
        </a>
        <nav class="navigation">
            <ul>
                <li><a href="/subjects">Subjects</a></li>
            </ul>
        </nav>
    </header>

    <main role="main">
        <div class="container">

            <h2>Subjects:</h2>

            <ul th:if="${not #lists.isEmpty(subjects)}">
                <li th:each="subject : ${subjects}">
                    <a th:href="@{/subjects/(id=${subject.id})}"><span th:text="${subject.name}"></span></a>
                </li>

            </ul>
            <div th:if="${#lists.isEmpty(subjects)}">
                <p>There is no subjects.</p>
            </div>

        </div>
    </main>

    <footer class="text-muted">
        <div class="container">
            <p>Teached© 2020</p>
        </div>
    </footer>
</body>
</html>